easyocr==1.7.1
numpy==1.26.4
opencv-python as cv2
opencv-python-headless
openpyxl==3.1.2
pandas==2.2.1
pillow==10.2.0
st-annotated-text==4.0.1
streamlit==1.33.0
twilio==9.0.5
ultralytics==8.1.42
